<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>Name</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input the name of the project!">
      <input nz-input id="name" formControlName="name" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzOffset]="6">
      <button nz-button nzType="primary" [disabled]="!validateForm.valid">Submit</button>
      <button nz-button (click)="destroyModal()">Cancel</button>
    </nz-form-control>
  </nz-form-item>
</form>
