// Import NG-ZORRO styles
@import "ng-zorro-antd/ng-zorro-antd.min.css";

// You can add global styles to this file, and also import other style files
:root {
  --background-color: #fff;
  --text-color: #000;
  --card-background-color: #fff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: var(--background-color);
  color: var(--text-color);
}

.dark-theme {
  --background-color: #1a1a1a;
  --text-color: #fff;
  --card-background-color: #2a2a2a;

  @import "ng-zorro-antd/ng-zorro-antd.dark.min.css";
}

.inner-content {
  background: var(--card-background-color) !important;
}
